In [ ]:
##Write a program that input 10 numbers from  user and print their sum.
#Write a program that input 5 numbers from user and print the largest
#nested if to ensure that user enter valid marks(input validation)
#print tables
#print largest of three
#print smallest
#print odd/even numbers within a given range
#intro to list and numpy arrays

In [25]:
age=12
age>=0

True

In [12]:
age<=12

True

In [13]:
age>=0 and  age<=12

True

In [14]:
if(age>=0 and age<=12):
    print("child")

child

In [16]:
num1=int(input("enter 1st number: "))
num2=int(input("enter 2nd number: "))
num3=int(input("enter 3rd number: "))

if(num1>num2 and num1>num3):
    print("largest number is : ", num1)
elif(num2>num1 and num2>num3):
    print("largest number is", num2)
else:
    print("Largest number is ", num3)

enter 1st number:  4
enter 2nd number:  7
enter 3rd number:  3

largest number is 7

In [17]:
i=1
while(i<=5):
    print("inside loop")
    i=i+1

inside loop
inside loop
inside loop
inside loop
inside loop

In [18]:
i=1
while(i<=5):
    print("inside loop")
    i=i+2

inside loop
inside loop
inside loop

In [20]:
sum=0
i=1
while(i<=5):
    num=int(input("Enter number: "))
    sum=sum+num
    i=i+1

print("Outside loop")
print("The sum is ", sum)

Enter number:  1
Enter number:  2
Enter number:  3
Enter number:  4
Enter number:  5

Outside loop
The sum is  15

In [22]:
##modulus operator
#65%5

In [23]:
i=0
while(i<=20):
    if(i%2==0):
        print (i)
    i=i+1

0
2
4
6
8
10
12
14
16
18
20

In [24]:
i=0
while(i<20):
    print(i)
    i=i+2

0
2
4
6
8
10
12
14
16
18

In [27]:
i=1
largest=0
while(i<=5):
    num=int(input("Enter number: "))
    if(num>largest):
        largest=num
    i=i+1

print("The largest number is: ", largest)

Enter number:  34
Enter number:  12
Enter number:  1
Enter number:  3
Enter number:  35

The largest number is:  35

In [ ]:
num1=int(input("enter number 1:"))
smallest=num1
#complete this program

In [29]:
#user enter marks betweem 0-100 and print pass/fail
marks=int(input("Enter your marks? "))
if(marks>=0 and marks<=100):
    print("Marks are valid")
    if(marks>50):
        print("User is pass")
    else:
        print("User is fail")
else:
    print("Marks are invalid")

Enter your marks?  56

Marks are valid
User is pass

In [30]:
user=" "
while(user!="stop"):
    user=input("Enter anything")
    print("You entered : ", user)

print("Outside loop")

Enter anything pasta

You entered :  pasta

Enter anything laptop

You entered :  laptop

Enter anything mobile

You entered :  mobile

Enter anything stop

You entered :  stop

In [34]:
#table of user entered number
num=int(input("Enter the number"))
i=1
while(i<=20):
    product=num*i
    print(num, "x", i, " = ", product)
    #print(f"{num} x{i}= {product}")
    i=i+1

Enter the number 2

2 x 1  =  2
2 x 2  =  4
2 x 3  =  6
2 x 4  =  8
2 x 5  =  10
2 x 6  =  12
2 x 7  =  14
2 x 8  =  16
2 x 9  =  18
2 x 10  =  20
2 x 11  =  22
2 x 12  =  24
2 x 13  =  26
2 x 14  =  28
2 x 15  =  30
2 x 16  =  32
2 x 17  =  34
2 x 18  =  36
2 x 19  =  38
2 x 20  =  40

In [35]:
#lists and arrays
list_=[3,5,6,7,8,8]

In [36]:
list_

[3, 5, 6, 7, 8, 8]

In [37]:
list1=["abc", 8.9, 9]
list1

['abc', 8.9, 9]

In [40]:
#for loops
for i in list1:
    print(i)
    print(type(i))

abc
<class 'str'>
8.9
<class 'float'>
9
<class 'int'>

list=[1,2,3,5,6,7]

In [42]:
list1=[1,2,3,5,6,7]

In [45]:
sum(list1)

TypeError: 'int' object is not callable

In [46]:
max(list1)

7

In [47]:
min(list1)

1

In [48]:
list1=["abc", 8.9, 9]

In [49]:
import numpy as np

In [51]:
list2=np.array(list1)

In [52]:
for i in list2:
    print(i)
    print(type(i))

abc
<class 'numpy.str_'>
8.9
<class 'numpy.str_'>
9
<class 'numpy.str_'>

In [ ]:
while (True):
    num1=int(input("Enter number 1: "))
    num2=int(input("Enter number 2: "))
    op=input("Which arthimetic opertaion you need to perform. You can enter +, x, /,-: ")
    if( op=="+"):
        print("you have selected addition")
        result=num1+num2
    elif(op=="-"):
        print("you have selected subtraction")
        result=num1-num2
    elif(op=="/"):
        print("You have selected division")
        result=num1/num2
    elif(op=="x"):
        print("You have selected multiplication")
        result= num1*num2
    elif(op=="stop"):
        break
    else:
        print("you have entered an invalid operator")
    
    
    print("The result of your selected operation", result)

Enter number 1:  3
Enter number 2:  4
Which arthimetic opertaion you need to perform. You can enter +, x, /,-:  +

you have selected addition
The result of your selected operation 7